.price-card {
  margin-right: 18px;
  height: 770px;
  width: 380px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
.price-card:nth-child(3) {
  margin-right: 0;
}
.price-card__title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 133px;
  text-align: center;
  overflow: hidden;
}
.price-card__title-main {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
}
.price-card__title-subtitle {
  font-size: 20px;
  line-height: 24px;
}
.price-card__title-mark {
  position: absolute;
  top: 25px;
  right: -30px;
  width: 140px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #dc3f45;
  transform: rotate(45deg);
}
.price-card__price {
  height: 105px;
  line-height: 105px;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}
.price-card__price_green {
  background-color: #5bb189;
}
.price-card__price_blue {
  background-color: #3a6ba5;
}
.price-card__price_orange {
  background-color: #ec632a;
}
.price-card__description {
  margin: 40px 26px;
  line-height: 18px;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}
.price-card__options-list {
  margin: 0;
  padding: 0;
  height: 300px;
  list-style-type: none;
}
.price-card__options-list-item {
  padding-left: 22px;
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  font-size: 15px;
}
.price-card__options-list-item:nth-child(odd) {
  background-color: #2a3438;
}
.price-card__checkmark {
  display: inline-block;
  margin-right: 22px;
  height: 13px;
  width: 15px;
}
.price-card__checkmark_green {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}
.price-card__checkmark_blue {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}
.price-card__checkmark_orange {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}
.price-card__order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 39px;
  padding: 0;
  height: 40px;
  width: 155px;
  border: none;
  border-radius: 20px;
}
.price-card__order-btn_green {
  background-color: #5bb189;
}
.price-card__order-btn_blue {
  background-color: #3a6ba5;
}
.price-card__order-btn_orange {
  background-color: #ec632a;
}
.price-card__order-btn-text {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.price-card__order-btn:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141b1c;
}