@import './variables.scss';
@import './price-cards.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color-dark-black;
}
