.price-card {
  margin-right: 18px;
  height: 770px;
  width: 380px;
  background: $background-color-dark-lightgrey;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  &:nth-child(3) {
    margin-right: 0;
  }
  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 133px;
    text-align: center;
    overflow: hidden;
  }
  &__title-main {
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
  }
  &__title-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  &__title-mark {
    position: absolute;
    top: 25px;
    right: -30px;
    width: 140px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $background-color-red;
    transform: rotate(45deg);
  }

  &__price {
    height: 105px;
    line-height: 105px;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    &_green {
      background-color: $color-green;
    }
    &_blue {
      background-color: $color-blue;
    }
    &_orange {
      background-color: $color-orange;
    }
  }

  &__description {
    margin: 40px 26px;
    line-height: 18px;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }

  &__options-list {
    margin: 0;
    padding: 0;
    height: 300px;
    list-style-type: none;
  }
  &__options-list-item {
    padding-left: 22px;
    height: 50px;
    line-height: 50px;
    font-weight: 300;
    font-size: 15px;
  }
  &__options-list-item:nth-child(odd) {
    background-color: $background-color-dark-grey;
  }
  &__checkmark {
    display: inline-block;
    margin-right: 22px;
    height: 13px;
    width: 15px;
    &_green {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }
    &_blue {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }
    &_orange {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }

  &__order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 39px;
    padding: 0;
    height: 40px;
    width: 155px;
    border: none;
    border-radius: 20px;
    &_green {
      background-color: $color-green;
    }
    &_blue {
      background-color: $color-blue;
    }
    &_orange {
      background-color: $color-orange;
    }
  }
  &__order-btn-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
  }
  &__order-btn:hover {
    cursor: pointer;
  }
}
