$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-white: #ffffff;

$background-color-dark-grey: #2a3438;
$background-color-dark-black: #141b1c;
$background-color-dark-lightgrey: #334247;
$background-color-red: #dc3f45;
