$bg-tablet-clr: #141b1c;
$bg-card-clr: rgba(51, 66, 71, 1);
$bg-badge-clr: rgba(220, 63, 69, 1);
$box-shadow-card: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);
$bg-odd-li: rgba(42, 52, 56, 0.5);
$text-clr: #fff;

$blue-theme-color: rgba(58, 107, 165, 1);
$orange-theme-color: rgba(236, 99, 42, 1);
$green-theme-color: rgba(91, 177, 137, 1);